<a href="https://colab.research.google.com/github/sipocz/CabPrice/blob/B20210510/CabPrice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [97]:
!wget https://github.com/sipocz/CabPrice/raw/B20210507/TRAIN.csv

--2021-05-10 15:15:41--  https://github.com/sipocz/CabPrice/raw/B20210507/TRAIN.csv
Resolving github.com (github.com)... 140.82.121.3
Connecting to github.com (github.com)|140.82.121.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/sipocz/CabPrice/B20210507/TRAIN.csv [following]
--2021-05-10 15:15:41--  https://raw.githubusercontent.com/sipocz/CabPrice/B20210507/TRAIN.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 7524003 (7.2M) [text/plain]
Saving to: ‘TRAIN.csv.4’

TRAIN.csv.4         100%[===================>]   7.17M  44.5MB/s    in 0.2s

2021-05-10 15:15:41 (44.5 MB/s) - ‘TRAIN.csv.4’ saved [7524003/7524003]

In [98]:
!head TRAIN.csv

index,time_stamp,cab_provider,source,destination,distance,surge_multiplier,cab_type,fare
0,1543203646318,Lyft,Boston University,Theatre District,3.03,1.0,Lux Black XL,34.0
1,1543203646319,Uber,South Station,Theatre District,1.3,1.0,Black,18.5
2,1543203646320,Uber,Theatre District,Fenway,2.71,1.0,UberX,19.5
3,1543203646320,Lyft,Northeastern University,Beacon Hill,2.43,1.0,Lyft,10.5
4,1543203646320,Uber,Theatre District,Fenway,2.71,1.0,UberXL,32.0
5,1543203646358,Uber,Beacon Hill,North End,2.19,1.0,UberX,8.0
6,1543203646358,Uber,North Station,Fenway,3.05,1.0,WAV,10.5
7,1543203646358,Uber,Beacon Hill,North End,2.19,1.0,UberXL,13.0
8,1543203646358,Uber,Beacon Hill,North End,2.19,1.0,Black,17.5

In [99]:
import pandas as pd

In [100]:
def DataPipeLine(df):
    
    sources=pd.get_dummies(df["source"],prefix='source',drop_first=False)
    dest=pd.get_dummies(df["destination"],prefix='dest',drop_first=False)
    cab=pd.get_dummies(df["cab_provider"],prefix='provider',drop_first=False)
    
    a=df.time_stamp
    df["DateTime"]=a.apply( lambda x:pd.Timestamp(x,unit="ms"))
    #df["dow"]=df["DateTime"].dt.dayofweek
    
    #dow=pd.get_dummies(df["dow"],prefix='dow',drop_first=False)


    sources=pd.get_dummies(df["source"],prefix='source',drop_first=False)
    dest=pd.get_dummies(df["destination"],prefix='dest',drop_first=False)
    cab=pd.get_dummies(df["cab_provider"],prefix='provider',drop_first=False)
    cabtype=pd.get_dummies(df["cab_type"],prefix='cab_type',drop_first=False)

    new = pd.DataFrame([df.DateTime, sources.columns, dest.columns])


    Xret = pd.DataFrame([
                    sources['source_Back Bay'],sources['source_Beacon Hill'],sources['source_Boston University'],
                    sources['source_Fenway'],sources['source_Financial District'],sources['source_Haymarket Square'],
                    sources['source_North End'],sources['source_North Station'],sources['source_Northeastern University'],
                    sources['source_South Station'],sources['source_Theatre District'],sources['source_West End'],
                     
                    dest['dest_Back Bay'],dest['dest_Beacon Hill'],dest['dest_Boston University'],
                    dest['dest_Fenway'],dest['dest_Financial District'],dest['dest_Haymarket Square'],
                    dest['dest_North End'],dest['dest_North Station'],dest['dest_Northeastern University'],
                    dest['dest_South Station'],dest['dest_Theatre District'],dest['dest_West End'],  

                    cab['provider_Lyft'], cab['provider_Uber'],
                     
                    cabtype['cab_type_Black'],cabtype['cab_type_Black SUV'],cabtype['cab_type_Lux'],cabtype['cab_type_Lux Black'],
                    cabtype['cab_type_Lux Black XL'],cabtype['cab_type_Lyft'],cabtype['cab_type_Lyft XL'],cabtype['cab_type_Shared'],
                    cabtype['cab_type_UberPool'],cabtype['cab_type_UberX'],cabtype['cab_type_UberXL'],cabtype['cab_type_WAV'],
                    #dow["dow_0"],dow["dow_1"],dow["dow_2"],


                    df["distance"]/10,
                    df["surge_multiplier"]/3
                    
                    ]).transpose()
    return(Xret)

In [101]:
df=pd.read_csv("TRAIN.csv")

In [102]:
df.head()

   index     time_stamp cab_provider  ... surge_multiplier      cab_type  fare
0      0  1543203646318         Lyft  ...              1.0  Lux Black XL  34.0
1      1  1543203646319         Uber  ...              1.0         Black  18.5
2      2  1543203646320         Uber  ...              1.0         UberX  19.5
3      3  1543203646320         Lyft  ...              1.0          Lyft  10.5
4      4  1543203646320         Uber  ...              1.0        UberXL  32.0

[5 rows x 9 columns]

In [103]:
dow.columns

Index(['dow_0', 'dow_1', 'dow_2'], dtype='object')

In [104]:
df.head()

   index     time_stamp cab_provider  ... surge_multiplier      cab_type  fare
0      0  1543203646318         Lyft  ...              1.0  Lux Black XL  34.0
1      1  1543203646319         Uber  ...              1.0         Black  18.5
2      2  1543203646320         Uber  ...              1.0         UberX  19.5
3      3  1543203646320         Lyft  ...              1.0          Lyft  10.5
4      4  1543203646320         Uber  ...              1.0        UberXL  32.0

[5 rows x 9 columns]

In [105]:
X_trainn=DataPipeLine(df)

In [106]:
X_trainn.head()

   source_Back Bay  source_Beacon Hill  ...  distance  surge_multiplier
0              0.0                 0.0  ...     0.303          0.333333
1              0.0                 0.0  ...     0.130          0.333333
2              0.0                 0.0  ...     0.271          0.333333
3              0.0                 0.0  ...     0.243          0.333333
4              0.0                 0.0  ...     0.271          0.333333

[5 rows x 40 columns]

In [107]:
df.head(12)
#df.tail(12)

    index     time_stamp  ...  fare                DateTime
0       0  1543203646318  ...  34.0 2018-11-26 03:40:46.318
1       1  1543203646319  ...  18.5 2018-11-26 03:40:46.319
2       2  1543203646320  ...  19.5 2018-11-26 03:40:46.320
3       3  1543203646320  ...  10.5 2018-11-26 03:40:46.320
4       4  1543203646320  ...  32.0 2018-11-26 03:40:46.320
5       5  1543203646358  ...   8.0 2018-11-26 03:40:46.358
6       6  1543203646358  ...  10.5 2018-11-26 03:40:46.358
7       7  1543203646358  ...  13.0 2018-11-26 03:40:46.358
8       8  1543203646358  ...  17.5 2018-11-26 03:40:46.358
9       9  1543203646359  ...   7.0 2018-11-26 03:40:46.359
10     10  1543203646359  ...  47.5 2018-11-26 03:40:46.359
11     11  1543203646359  ...  62.5 2018-11-26 03:40:46.359

[12 rows x 10 columns]

In [108]:
a=list(set(df["source"]))

In [109]:
a[0]

'Northeastern University'

In [110]:
sources=pd.get_dummies(df["source"],prefix='source',drop_first=False)
dest=pd.get_dummies(df["destination"],prefix='dest',drop_first=False)
cab=pd.get_dummies(df["cab_provider"],prefix='provider',drop_first=False)

In [111]:

a=df.time_stamp

df["DateTime"]=a.apply( lambda x:pd.Timestamp(x,unit="ms"))

In [112]:
set(list(df.distance))

{0.02,
 0.03,
 0.04,
 0.12,
 0.17,
 0.27,
 0.29,
 0.3,
 0.35,
 0.38,
 0.39,
 0.4,
 0.41,
 0.42,
 0.43,
 0.44,
 0.45,
 0.46,
 0.47,
 0.48,
 0.49,
 0.5,
 0.51,
 0.52,
 0.53,
 0.54,
 0.55,
 0.56,
 0.57,
 0.58,
 0.59,
 0.6,
 0.61,
 0.62,
 0.63,
 0.64,
 0.65,
 0.66,
 0.67,
 0.68,
 0.69,
 0.7,
 0.71,
 0.72,
 0.73,
 0.74,
 0.75,
 0.76,
 0.77,
 0.78,
 0.79,
 0.8,
 0.81,
 0.82,
 0.83,
 0.84,
 0.85,
 0.86,
 0.87,
 0.88,
 0.89,
 0.9,
 0.91,
 0.92,
 0.93,
 0.94,
 0.95,
 0.96,
 0.97,
 0.98,
 0.99,
 1.0,
 1.01,
 1.02,
 1.03,
 1.04,
 1.05,
 1.06,
 1.07,
 1.08,
 1.09,
 1.1,
 1.11,
 1.12,
 1.13,
 1.14,
 1.15,
 1.16,
 1.17,
 1.18,
 1.19,
 1.2,
 1.21,
 1.22,
 1.23,
 1.24,
 1.25,
 1.26,
 1.27,
 1.28,
 1.29,
 1.3,
 1.31,
 1.32,
 1.33,
 1.34,
 1.35,
 1.36,
 1.37,
 1.38,
 1.39,
 1.4,
 1.41,
 1.42,
 1.43,
 1.44,
 1.45,
 1.46,
 1.47,
 1.48,
 1.49,
 1.5,
 1.51,
 1.52,
 1.53,
 1.54,
 1.55,
 1.56,
 1.57,
 1.58,
 1.59,
 1.6,
 1.61,
 1.62,
 1.63,
 1.64,
 1.65,
 1.66,
 1.67,
 1.68,
 1.69,
 1.7,
 1.71,
 1.72,
 1.73,
 1.74,
 1.75,
 1.76,
 1.77,
 1.78,
 1.79,
 1.8,
 1.81,
 1.82,
 1.83,
 1.84,
 1.85,
 1.86,
 1.87,
 1.88,
 1.89,
 1.9,
 1.91,
 1.92,
 1.93,
 1.94,
 1.95,
 1.96,
 1.97,
 1.98,
 1.99,
 2.0,
 2.01,
 2.02,
 2.03,
 2.04,
 2.05,
 2.06,
 2.07,
 2.08,
 2.09,
 2.1,
 2.11,
 2.12,
 2.13,
 2.14,
 2.15,
 2.16,
 2.17,
 2.18,
 2.19,
 2.2,
 2.21,
 2.22,
 2.23,
 2.24,
 2.25,
 2.26,
 2.27,
 2.28,
 2.29,
 2.3,
 2.31,
 2.32,
 2.33,
 2.34,
 2.35,
 2.36,
 2.37,
 2.38,
 2.39,
 2.4,
 2.41,
 2.42,
 2.43,
 2.44,
 2.45,
 2.46,
 2.47,
 2.48,
 2.49,
 2.5,
 2.51,
 2.52,
 2.53,
 2.54,
 2.55,
 2.56,
 2.57,
 2.58,
 2.59,
 2.6,
 2.61,
 2.62,
 2.63,
 2.64,
 2.65,
 2.66,
 2.67,
 2.68,
 2.69,
 2.7,
 2.71,
 2.72,
 2.73,
 2.74,
 2.75,
 2.76,
 2.77,
 2.78,
 2.79,
 2.8,
 2.81,
 2.82,
 2.83,
 2.84,
 2.85,
 2.86,
 2.87,
 2.88,
 2.89,
 2.9,
 2.91,
 2.92,
 2.93,
 2.94,
 2.95,
 2.96,
 2.97,
 2.98,
 2.99,
 3.0,
 3.01,
 3.02,
 3.03,
 3.04,
 3.05,
 3.06,
 3.07,
 3.08,
 3.09,
 3.1,
 3.11,
 3.12,
 3.13,
 3.14,
 3.15,
 3.16,
 3.17,
 3.18,
 3.19,
 3.2,
 3.21,
 3.22,
 3.23,
 3.24,
 3.25,
 3.26,
 3.27,
 3.28,
 3.29,
 3.3,
 3.31,
 3.32,
 3.33,
 3.34,
 3.35,
 3.36,
 3.37,
 3.38,
 3.39,
 3.4,
 3.41,
 3.42,
 3.43,
 3.44,
 3.45,
 3.46,
 3.47,
 3.48,
 3.49,
 3.5,
 3.51,
 3.52,
 3.53,
 3.54,
 3.55,
 3.56,
 3.57,
 3.58,
 3.59,
 3.61,
 3.63,
 3.64,
 3.65,
 3.66,
 3.67,
 3.68,
 3.69,
 3.7,
 3.71,
 3.72,
 3.73,
 3.74,
 3.75,
 3.76,
 3.77,
 3.78,
 3.79,
 3.8,
 3.81,
 3.82,
 3.83,
 3.85,
 3.87,
 3.88,
 3.89,
 3.9,
 3.91,
 3.92,
 3.93,
 3.94,
 3.95,
 3.96,
 3.97,
 3.98,
 3.99,
 4.0,
 4.01,
 4.02,
 4.03,
 4.04,
 4.05,
 4.06,
 4.07,
 4.08,
 4.09,
 4.1,
 4.11,
 4.12,
 4.13,
 4.14,
 4.15,
 4.16,
 4.17,
 4.18,
 4.19,
 4.2,
 4.21,
 4.22,
 4.23,
 4.24,
 4.25,
 4.26,
 4.27,
 4.28,
 4.29,
 4.3,
 4.31,
 4.32,
 4.33,
 4.34,
 4.35,
 4.36,
 4.37,
 4.38,
 4.39,
 4.4,
 4.41,
 4.42,
 4.43,
 4.44,
 4.45,
 4.46,
 4.47,
 4.48,
 4.49,
 4.5,
 4.51,
 4.52,
 4.53,
 4.54,
 4.55,
 4.56,
 4.57,
 4.58,
 4.59,
 4.6,
 4.61,
 4.62,
 4.63,
 4.64,
 4.65,
 4.66,
 4.67,
 4.68,
 4.69,
 4.7,
 4.71,
 4.72,
 4.73,
 4.74,
 4.75,
 4.76,
 4.77,
 4.78,
 4.79,
 4.8,
 4.81,
 4.82,
 4.83,
 4.87,
 4.91,
 4.93,
 4.94,
 4.95,
 4.96,
 4.97,
 4.98,
 4.99,
 5.01,
 5.02,
 5.03,
 5.04,
 5.05,
 5.06,
 5.09,
 5.1,
 5.11,
 5.12,
 5.13,
 5.14,
 5.15,
 5.16,
 5.17,
 5.19,
 5.2,
 5.21,
 5.22,
 5.23,
 5.24,
 5.25,
 5.26,
 5.27,
 5.28,
 5.29,
 5.3,
 5.31,
 5.32,
 5.33,
 5.34,
 5.35,
 5.36,
 5.37,
 5.38,
 5.39,
 5.4,
 5.41,
 5.42,
 5.43,
 5.44,
 5.45,
 5.46,
 5.47,
 5.56,
 5.69,
 5.7,
 5.86,
 6.04,
 6.09,
 6.13,
 6.26,
 6.27,
 6.33,
 6.83,
 6.91,
 6.97,
 7.04,
 7.18,
 7.19,
 7.2,
 7.24,
 7.25,
 7.34,
 7.38,
 7.46,
 7.5}

In [113]:
sources=pd.get_dummies(df["source"],prefix='source',drop_first=False)
dest=pd.get_dummies(df["destination"],prefix='dest',drop_first=False)
cab=pd.get_dummies(df["cab_provider"],prefix='provider',drop_first=False)
cabtype=pd.get_dummies(df["cab_type"],prefix='cab_type',drop_first=False)

new = pd.DataFrame([df.DateTime, sources.columns, dest.columns])

In [114]:
print(sources.columns)
print(dest.columns)
print(cab.columns)
print(cabtype.columns)

Index(['source_Back Bay', 'source_Beacon Hill', 'source_Boston University',
       'source_Fenway', 'source_Financial District', 'source_Haymarket Square',
       'source_North End', 'source_North Station',
       'source_Northeastern University', 'source_South Station',
       'source_Theatre District', 'source_West End'],
      dtype='object')
Index(['dest_Back Bay', 'dest_Beacon Hill', 'dest_Boston University',
       'dest_Fenway', 'dest_Financial District', 'dest_Haymarket Square',
       'dest_North End', 'dest_North Station', 'dest_Northeastern University',
       'dest_South Station', 'dest_Theatre District', 'dest_West End'],
      dtype='object')
Index(['provider_Lyft', 'provider_Uber'], dtype='object')
Index(['cab_type_Black', 'cab_type_Black SUV', 'cab_type_Lux',
       'cab_type_Lux Black', 'cab_type_Lux Black XL', 'cab_type_Lyft',
       'cab_type_Lyft XL', 'cab_type_Shared', 'cab_type_UberPool',
       'cab_type_UberX', 'cab_type_UberXL', 'cab_type_WAV'],
      dtype='object')

In [115]:
df.DateTime

0       2018-11-26 03:40:46.318
1       2018-11-26 03:40:46.319
2       2018-11-26 03:40:46.320
3       2018-11-26 03:40:46.320
4       2018-11-26 03:40:46.320
                  ...
99995   2018-11-28 00:15:24.049
99996   2018-11-28 00:15:24.049
99997   2018-11-28 00:15:24.049
99998   2018-11-28 00:15:24.049
99999   2018-11-28 00:15:24.049
Name: DateTime, Length: 100000, dtype: datetime64[ns]

In [116]:
Xtrain = pd.DataFrame([
                    sources['source_Back Bay'],sources['source_Beacon Hill'],sources['source_Boston University'],
                    sources['source_Fenway'],sources['source_Financial District'],sources['source_Haymarket Square'],
                    sources['source_North End'],sources['source_North Station'],sources['source_Northeastern University'],
                    sources['source_South Station'],sources['source_Theatre District'],sources['source_West End'],
                     
                    dest['dest_Back Bay'],dest['dest_Beacon Hill'],dest['dest_Boston University'],
                    dest['dest_Fenway'],dest['dest_Financial District'],dest['dest_Haymarket Square'],
                    dest['dest_North End'],dest['dest_North Station'],dest['dest_Northeastern University'],
                    dest['dest_South Station'],dest['dest_Theatre District'],dest['dest_West End'],  

                    cab['provider_Lyft'], cab['provider_Uber'],
                     
                    cabtype['cab_type_Black'],cabtype['cab_type_Black SUV'],cabtype['cab_type_Lux'],cabtype['cab_type_Lux Black'],
                    cabtype['cab_type_Lux Black XL'],cabtype['cab_type_Lyft'],cabtype['cab_type_Lyft XL'],cabtype['cab_type_Shared'],
                    cabtype['cab_type_UberPool'],cabtype['cab_type_UberX'],cabtype['cab_type_UberXL'],cabtype['cab_type_WAV'],
                    


                    df["distance"]/10,
                    df["surge_multiplier"]/3

                    ]).transpose()

In [117]:
ytrain=df["fare"]

In [118]:
Xtrain

       source_Back Bay  source_Beacon Hill  ...  distance  surge_multiplier
0                  0.0                 0.0  ...     0.303          0.333333
1                  0.0                 0.0  ...     0.130          0.333333
2                  0.0                 0.0  ...     0.271          0.333333
3                  0.0                 0.0  ...     0.243          0.333333
4                  0.0                 0.0  ...     0.271          0.333333
...                ...                 ...  ...       ...               ...
99995              0.0                 0.0  ...     0.116          0.333333
99996              0.0                 0.0  ...     0.116          0.333333
99997              0.0                 0.0  ...     0.116          0.333333
99998              0.0                 0.0  ...     0.116          0.333333
99999              0.0                 1.0  ...     0.123          0.333333

[100000 rows x 40 columns]

In [119]:
from keras.layers import InputLayer, Dense, LSTM, Input, Dropout,Embedding, Flatten
from keras.models import Sequential, Model
from keras.optimizers import SGD,Adam,Adamax,Nadam,Ftrl,Adadelta,Adagrad,Nadam
import tensorflow as tf
from tensorflow.keras.callbacks import ModelCheckpoint
from keras.backend import clear_session
from tensorflow.keras.losses import mean_absolute_percentage_error, huber,kld

from keras.preprocessing.sequence import pad_sequences

In [120]:
fname="_model_1_"

In [121]:
#clear_session()




input_len=40
print(input_len)
output_size=1
drop_frac0=0.60 
drop_frac1=0.6



input1=Input(shape=(input_len,),)


#flatt=Flatten()(lstm1)
d1=Dense(720,activation="relu")(input1)
drop0=Dropout(drop_frac0)(d1)

d2=Dense(180,activation="relu")(drop0)
drop1=Dropout(drop_frac1)(d2)



pred=Dense(output_size,activation="linear")(drop1)

model = Model(inputs=input1, outputs=pred)

opt = tf.keras.optimizers.Adam(learning_rate=0.0001)


rmse = tf.keras.metrics.RootMeanSquaredError()
model.compile(loss="mae",
    optimizer=opt,
    metrics=[rmse])

40

In [122]:
#!rm _model*

In [129]:
def scheduler(epoch, lr):
    return 0.000001

In [130]:
callback_LR = tf.keras.callbacks.LearningRateScheduler(scheduler)

In [131]:
callbacks = [callback_LR,
       
        ModelCheckpoint(filepath=fname+"_{val_root_mean_squared_error:.5f}__.hdf5", monitor='val_root_mean_squared_error',
                        verbose=2, save_best_only=True, mode='min')]

In [133]:
history = model.fit( X_trainn,ytrain, 
                        epochs=25, 
                        batch_size=8,validation_split=0.1,
                        verbose=1,
                        callbacks=callbacks,
                              
                              )

Epoch 1/25
11250/11250 [==============================] - 30s 3ms/step - loss: 1.4334 - root_mean_squared_error: 2.2292 - val_loss: 1.1064 - val_root_mean_squared_error: 1.7520

Epoch 00001: val_root_mean_squared_error did not improve from 1.74878
Epoch 2/25
11250/11250 [==============================] - 30s 3ms/step - loss: 1.4355 - root_mean_squared_error: 2.2275 - val_loss: 1.1065 - val_root_mean_squared_error: 1.7521

Epoch 00002: val_root_mean_squared_error did not improve from 1.74878
Epoch 3/25
11250/11250 [==============================] - 30s 3ms/step - loss: 1.4297 - root_mean_squared_error: 2.2107 - val_loss: 1.1056 - val_root_mean_squared_error: 1.7500

Epoch 00003: val_root_mean_squared_error did not improve from 1.74878
Epoch 4/25
11250/11250 [==============================] - 30s 3ms/step - loss: 1.4310 - root_mean_squared_error: 2.2091 - val_loss: 1.1057 - val_root_mean_squared_error: 1.7501

Epoch 00004: val_root_mean_squared_error did not improve from 1.74878
Epoch 5/25
11250/11250 [==============================] - 30s 3ms/step - loss: 1.4293 - root_mean_squared_error: 2.2096 - val_loss: 1.1070 - val_root_mean_squared_error: 1.7529

Epoch 00005: val_root_mean_squared_error did not improve from 1.74878
Epoch 6/25
11250/11250 [==============================] - 30s 3ms/step - loss: 1.4245 - root_mean_squared_error: 2.2045 - val_loss: 1.1053 - val_root_mean_squared_error: 1.7501

Epoch 00006: val_root_mean_squared_error did not improve from 1.74878
Epoch 7/25
11250/11250 [==============================] - 30s 3ms/step - loss: 1.4333 - root_mean_squared_error: 2.2220 - val_loss: 1.1067 - val_root_mean_squared_error: 1.7523

Epoch 00007: val_root_mean_squared_error did not improve from 1.74878
Epoch 8/25
11250/11250 [==============================] - 30s 3ms/step - loss: 1.4175 - root_mean_squared_error: 2.1882 - val_loss: 1.1070 - val_root_mean_squared_error: 1.7531

Epoch 00008: val_root_mean_squared_error did not improve from 1.74878
Epoch 9/25
11250/11250 [==============================] - 30s 3ms/step - loss: 1.4316 - root_mean_squared_error: 2.2188 - val_loss: 1.1055 - val_root_mean_squared_error: 1.7502

Epoch 00009: val_root_mean_squared_error did not improve from 1.74878
Epoch 10/25
11250/11250 [==============================] - 30s 3ms/step - loss: 1.4352 - root_mean_squared_error: 2.2175 - val_loss: 1.1067 - val_root_mean_squared_error: 1.7523

Epoch 00010: val_root_mean_squared_error did not improve from 1.74878
Epoch 11/25
11250/11250 [==============================] - 30s 3ms/step - loss: 1.4284 - root_mean_squared_error: 2.2093 - val_loss: 1.1066 - val_root_mean_squared_error: 1.7522

Epoch 00011: val_root_mean_squared_error did not improve from 1.74878
Epoch 12/25
11250/11250 [==============================] - 30s 3ms/step - loss: 1.4289 - root_mean_squared_error: 2.2125 - val_loss: 1.1062 - val_root_mean_squared_error: 1.7511

Epoch 00012: val_root_mean_squared_error did not improve from 1.74878
Epoch 13/25
11250/11250 [==============================] - 30s 3ms/step - loss: 1.4298 - root_mean_squared_error: 2.2174 - val_loss: 1.1074 - val_root_mean_squared_error: 1.7537

Epoch 00013: val_root_mean_squared_error did not improve from 1.74878
Epoch 14/25
11250/11250 [==============================] - 30s 3ms/step - loss: 1.4307 - root_mean_squared_error: 2.2209 - val_loss: 1.1089 - val_root_mean_squared_error: 1.7568

Epoch 00014: val_root_mean_squared_error did not improve from 1.74878
Epoch 15/25
11250/11250 [==============================] - 30s 3ms/step - loss: 1.4288 - root_mean_squared_error: 2.2164 - val_loss: 1.1067 - val_root_mean_squared_error: 1.7520

Epoch 00015: val_root_mean_squared_error did not improve from 1.74878
Epoch 16/25
11250/11250 [==============================] - 30s 3ms/step - loss: 1.4271 - root_mean_squared_error: 2.2028 - val_loss: 1.1056 - val_root_mean_squared_error: 1.7501

Epoch 00016: val_root_mean_squared_error did not improve from 1.74878
Epoch 17/25
11250/11250 [==============================] - 31s 3ms/step - loss: 1.4308 - root_mean_squared_error: 2.2136 - val_loss: 1.1048 - val_root_mean_squared_error: 1.7484

Epoch 00017: val_root_mean_squared_error improved from 1.74878 to 1.74836, saving model to _model_1__1.74836__.hdf5
Epoch 18/25
11250/11250 [==============================] - 31s 3ms/step - loss: 1.4338 - root_mean_squared_error: 2.2284 - val_loss: 1.1065 - val_root_mean_squared_error: 1.7526

Epoch 00018: val_root_mean_squared_error did not improve from 1.74836
Epoch 19/25
11250/11250 [==============================] - 31s 3ms/step - loss: 1.4334 - root_mean_squared_error: 2.2186 - val_loss: 1.1064 - val_root_mean_squared_error: 1.7521

Epoch 00019: val_root_mean_squared_error did not improve from 1.74836
Epoch 20/25
11250/11250 [==============================] - 31s 3ms/step - loss: 1.4257 - root_mean_squared_error: 2.2073 - val_loss: 1.1069 - val_root_mean_squared_error: 1.7522

Epoch 00020: val_root_mean_squared_error did not improve from 1.74836
Epoch 21/25
11250/11250 [==============================] - 31s 3ms/step - loss: 1.4340 - root_mean_squared_error: 2.2214 - val_loss: 1.1070 - val_root_mean_squared_error: 1.7525

Epoch 00021: val_root_mean_squared_error did not improve from 1.74836
Epoch 22/25
11250/11250 [==============================] - 31s 3ms/step - loss: 1.4274 - root_mean_squared_error: 2.2110 - val_loss: 1.1066 - val_root_mean_squared_error: 1.7518

Epoch 00022: val_root_mean_squared_error did not improve from 1.74836
Epoch 23/25
11250/11250 [==============================] - 31s 3ms/step - loss: 1.4327 - root_mean_squared_error: 2.2177 - val_loss: 1.1062 - val_root_mean_squared_error: 1.7505

Epoch 00023: val_root_mean_squared_error did not improve from 1.74836
Epoch 24/25
11250/11250 [==============================] - 31s 3ms/step - loss: 1.4315 - root_mean_squared_error: 2.2166 - val_loss: 1.1058 - val_root_mean_squared_error: 1.7500

Epoch 00024: val_root_mean_squared_error did not improve from 1.74836
Epoch 25/25
11250/11250 [==============================] - 31s 3ms/step - loss: 1.4302 - root_mean_squared_error: 2.2052 - val_loss: 1.1069 - val_root_mean_squared_error: 1.7533

Epoch 00025: val_root_mean_squared_error did not improve from 1.74836

In [134]:
!rm visual_view.py
!wget https://raw.githubusercontent.com/sipocz/messer/main/visual_view.py
grafikon=None
from visual_view import grafikon
help(grafikon)

--2021-05-10 17:13:06--  https://raw.githubusercontent.com/sipocz/messer/main/visual_view.py
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.109.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1027 (1.0K) [text/plain]
Saving to: ‘visual_view.py’

visual_view.py      100%[===================>]   1.00K  --.-KB/s    in 0s

2021-05-10 17:13:06 (22.8 MB/s) - ‘visual_view.py’ saved [1027/1027]

Help on function grafikon in module visual_view:

grafikon(fx, desc1, txt1, desc2='', txt2='', ngraf=2, c1='rgba(35,128,132,0.8)', c2='rgba(193,99,99,0.8)', title=None)
    fx: dataFrame
    desc1:column1
    txt1: label1
    desc2:column2
    txt2: label2
    ngraf: number of graph
    c1: color1
    c2: color2
    title: graph title

In [135]:
datag=pd.DataFrame()
y_pred=model.predict(Xtrain)

In [136]:
datag["pred"]=list(y_pred.T[0])
datag["y"]=list(ytrain)
datag["delta"]=y_pred.T[0]-ytrain

In [ ]:
grafikon(datag,"pred","pred","delta","delta")

## betöltés

In [138]:
modelname="_model_1__1.74276__.hdf5"

In [139]:
!wget https://github.com/sipocz/CabPrice/raw/main/_model_1__1.74276__.hdf5

--2021-05-10 17:15:16--  https://github.com/sipocz/CabPrice/raw/main/_model_1__1.74276__.hdf5
Resolving github.com (github.com)... 140.82.121.4
Connecting to github.com (github.com)|140.82.121.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/sipocz/CabPrice/main/_model_1__1.74276__.hdf5 [following]
--2021-05-10 17:15:17--  https://raw.githubusercontent.com/sipocz/CabPrice/main/_model_1__1.74276__.hdf5
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1948824 (1.9M) [application/octet-stream]
Saving to: ‘_model_1__1.74276__.hdf5.1’

_model_1__1.74276__ 100%[===================>]   1.86M  --.-KB/s    in 0.07s

2021-05-10 17:15:17 (25.1 MB/s) - ‘_model_1__1.74276__.hdf5.1’ saved [1948824/1948824]

In [140]:
!wget https://github.com/sipocz/CabPrice/raw/B20210507/TEST.csv

--2021-05-10 17:15:22--  https://github.com/sipocz/CabPrice/raw/B20210507/TEST.csv
Resolving github.com (github.com)... 140.82.121.4
Connecting to github.com (github.com)|140.82.121.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/sipocz/CabPrice/B20210507/TEST.csv [following]
--2021-05-10 17:15:22--  https://raw.githubusercontent.com/sipocz/CabPrice/B20210507/TEST.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1757163 (1.7M) [text/plain]
Saving to: ‘TEST.csv.1’

TEST.csv.1          100%[===================>]   1.67M  --.-KB/s    in 0.07s

2021-05-10 17:15:23 (24.1 MB/s) - ‘TEST.csv.1’ saved [1757163/1757163]

In [141]:


model=tf.keras.models.load_model(modelname)

In [142]:
dft=pd.read_csv("TEST.csv")

In [143]:
dft.head()

   index     time_stamp cab_provider  ... distance surge_multiplier      cab_type
0      0  1543364124206         Lyft  ...     0.59              1.0           Lux
1      1  1543364124206         Lyft  ...     0.59              1.0  Lux Black XL
2      2  1543364124206         Uber  ...     6.83              1.0         UberX
3      3  1543364124206         Uber  ...     1.35              1.0        UberXL
4      4  1543364124206         Lyft  ...     0.59              1.0       Lyft XL

[5 rows x 8 columns]

In [145]:
dft.tail()

       index     time_stamp cab_provider  ... distance surge_multiplier   cab_type
24995  24995  1543413683462         Uber  ...     3.05              1.0   UberPool
24996  24996  1543413683462         Uber  ...     3.05              1.0        WAV
24997  24997  1543413683462         Uber  ...     3.05              1.0  Black SUV
24998  24998  1543413683687         Lyft  ...     2.96              1.0     Shared
24999  24999  1543413683687         Lyft  ...     2.96              1.0        Lux

[5 rows x 8 columns]

In [146]:

X_test=DataPipeLine(dft)

In [147]:
X_test.head()

   source_Back Bay  source_Beacon Hill  ...  distance  surge_multiplier
0              0.0                 0.0  ...     0.059          0.333333
1              0.0                 0.0  ...     0.059          0.333333
2              0.0                 0.0  ...     0.683          0.333333
3              0.0                 1.0  ...     0.135          0.333333
4              0.0                 0.0  ...     0.059          0.333333

[5 rows x 40 columns]

In [148]:
y_test=model.predict(X_test)

In [149]:
y_test

array([[10.725847],
       [26.39877 ],
       [16.30011 ],
       ...,
       [32.72255 ],
       [ 7.113237],
       [19.774715]], dtype=float32)

In [150]:
odf=pd.DataFrame(y_test)

In [151]:
odf.head()

           0
0  10.725847
1  26.398769
2  16.300110
3  12.764973
4  10.256915

In [152]:
!wget https://github.com/sipocz/CabPrice/raw/B20210507/sample_submission.csv

--2021-05-10 17:16:19--  https://github.com/sipocz/CabPrice/raw/B20210507/sample_submission.csv
Resolving github.com (github.com)... 140.82.121.4
Connecting to github.com (github.com)|140.82.121.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/sipocz/CabPrice/B20210507/sample_submission.csv [following]
--2021-05-10 17:16:19--  https://raw.githubusercontent.com/sipocz/CabPrice/B20210507/sample_submission.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 106 [text/plain]
Saving to: ‘sample_submission.csv’

sample_submission.c 100%[===================>]     106  --.-KB/s    in 0s

2021-05-10 17:16:20 (4.44 MB/s) - ‘sample_submission.csv’ saved [106/106]

In [153]:
!head sample_submission.csv

index,fare
0,11.0
1,26.0
2,18.5
3,11.5
4,9.0
5,10.5
6,7.0
7,7.0
8,26.0

In [155]:
odf.columns=["fare"]
odf.index.name="index"

odf.head()

            fare
index
0      10.725847
1      26.398769
2      16.300110
3      12.764973
4      10.256915

In [157]:
odf.to_csv("submission_2.csv")

In [158]:
! head submission_1.csv

index,fare
0,10.725847
1,26.39877
2,16.30011
3,12.764973
4,10.256915
5,9.27725
6,5.221305
7,7.1622586
8,27.486023