<a href="https://colab.research.google.com/github/sipocz/CabPrice/blob/B20210531/CabPrice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!wget https://github.com/sipocz/CabPrice/raw/B20210507/TRAIN.csv

--2021-05-17 16:01:44--  https://github.com/sipocz/CabPrice/raw/B20210507/TRAIN.csv
Resolving github.com (github.com)... 140.82.114.3
Connecting to github.com (github.com)|140.82.114.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/sipocz/CabPrice/B20210507/TRAIN.csv [following]
--2021-05-17 16:01:44--  https://raw.githubusercontent.com/sipocz/CabPrice/B20210507/TRAIN.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.109.133, 185.199.110.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 7524003 (7.2M) [text/plain]
Saving to: ‘TRAIN.csv.3’

TRAIN.csv.3         100%[===================>]   7.17M  45.6MB/s    in 0.2s

2021-05-17 16:01:45 (45.6 MB/s) - ‘TRAIN.csv.3’ saved [7524003/7524003]

In [ ]:
!head TRAIN.csv

index,time_stamp,cab_provider,source,destination,distance,surge_multiplier,cab_type,fare
0,1543203646318,Lyft,Boston University,Theatre District,3.03,1.0,Lux Black XL,34.0
1,1543203646319,Uber,South Station,Theatre District,1.3,1.0,Black,18.5
2,1543203646320,Uber,Theatre District,Fenway,2.71,1.0,UberX,19.5
3,1543203646320,Lyft,Northeastern University,Beacon Hill,2.43,1.0,Lyft,10.5
4,1543203646320,Uber,Theatre District,Fenway,2.71,1.0,UberXL,32.0
5,1543203646358,Uber,Beacon Hill,North End,2.19,1.0,UberX,8.0
6,1543203646358,Uber,North Station,Fenway,3.05,1.0,WAV,10.5
7,1543203646358,Uber,Beacon Hill,North End,2.19,1.0,UberXL,13.0
8,1543203646358,Uber,Beacon Hill,North End,2.19,1.0,Black,17.5

In [ ]:
import pandas as pd
import numpy as np

sources['source_Back Bay'],sources['source_Beacon Hill'],sources['source_Boston University'],
                    sources['source_Fenway'],sources['source_Financial District'],sources['source_Haymarket Square'],
                    sources['source_North End'],sources['source_North Station'],sources['source_Northeastern University'],
                    sources['source_South Station'],sources['source_Theatre District'],sources['source_West End'],
                     
                    dest['dest_Back Bay'],dest['dest_Beacon Hill'],dest['dest_Boston University'],
                    dest['dest_Fenway'],dest['dest_Financial District'],dest['dest_Haymarket Square'],
                    dest['dest_North End'],dest['dest_North Station'],dest['dest_Northeastern University'],
                    dest['dest_South Station'],dest['dest_Theatre District'],dest['dest_West End'],

                       ''' 
                    cabtype['cab_type_Black'],cabtype['cab_type_Black SUV'],cabtype['cab_type_Lux'],cabtype['cab_type_Lux Black'],
                    cabtype['cab_type_Lux Black XL'],cabtype['cab_type_Lyft'],cabtype['cab_type_Lyft XL'],cabtype['cab_type_Shared'],
                    cabtype['cab_type_UberPool'],cabtype['cab_type_UberX'],cabtype['cab_type_UberXL'],cabtype['cab_type_WAV'],
                    #dow["dow_0"],dow["dow_1"],dow["dow_2"],
                    '''

In [ ]:
def DataPipeLine(df):
    #outlierek 
    df["price_per"]=df.fare/df.surge_multiplier/df.distance
    df.drop(df[df['price_per'] > 100].index, inplace = True)
    
    df["sec"]=(df.time_stamp/1000) % (24*3600)
    seconds_in_day = 24*60*60
    df['sin_time'] = (np.sin(2*np.pi*df.sec/seconds_in_day))
    df['cos_time'] = (np.cos(2*np.pi*df.sec/seconds_in_day))

    sources=pd.get_dummies(df["source"],prefix='source',drop_first=False)
    dest=pd.get_dummies(df["destination"],prefix='dest',drop_first=False)
    cab=pd.get_dummies(df["cab_provider"],prefix='provider',drop_first=False)
    
    a=df.time_stamp
    df["DateTime"]=a.apply( lambda x:pd.Timestamp(x,unit="ms"))
    #df["dow"]=df["DateTime"].dt.dayofweek
    
    #dow=pd.get_dummies(df["dow"],prefix='dow',drop_first=False)


    sources=pd.get_dummies(df["source"],prefix='source',drop_first=False)
    dest=pd.get_dummies(df["destination"],prefix='dest',drop_first=False)
    cab=pd.get_dummies(df["cab_provider"],prefix='provider',drop_first=False)
    cabtype=pd.get_dummies(df["cab_type"],prefix='cab_type',drop_first=False)

    new = pd.DataFrame([df.DateTime, sources.columns, dest.columns])


    Xret = pd.DataFrame([
                    
                    cab['provider_Lyft'], cab['provider_Uber'],
                    sources['source_Back Bay'],sources['source_Beacon Hill'],sources['source_Boston University'],
                    sources['source_Fenway'],sources['source_Financial District'],sources['source_Haymarket Square'],
                    sources['source_North End'],sources['source_North Station'],sources['source_Northeastern University'],
                    sources['source_South Station'],sources['source_Theatre District'],sources['source_West End'],
                     
                    dest['dest_Back Bay'],dest['dest_Beacon Hill'],dest['dest_Boston University'],
                    dest['dest_Fenway'],dest['dest_Financial District'],dest['dest_Haymarket Square'],
                    dest['dest_North End'],dest['dest_North Station'],dest['dest_Northeastern University'],
                    dest['dest_South Station'],dest['dest_Theatre District'],dest['dest_West End'],

                    cabtype['cab_type_Black'],cabtype['cab_type_Black SUV'],cabtype['cab_type_Lux'],cabtype['cab_type_Lux Black'],
                    cabtype['cab_type_Lux Black XL'],cabtype['cab_type_Lyft'],cabtype['cab_type_Lyft XL'],cabtype['cab_type_Shared'],
                    cabtype['cab_type_UberPool'],cabtype['cab_type_UberX'],cabtype['cab_type_UberXL'],cabtype['cab_type_WAV'],
                    #dow["dow_0"],dow["dow_1"],dow["dow_2"],



                    df["distance"]/10,
                    df["surge_multiplier"]/3,
                    (df["sin_time"]/2)+0.5,
                    (df["cos_time"]/2)+0.5
                    #df.fare/df["surge_multiplier"]/df["distance"],
                    #df.fare
                    ]).transpose()
    return(Xret)

In [ ]:
df=pd.read_csv("TRAIN.csv")

In [ ]:
df.head()

   index     time_stamp cab_provider  ... surge_multiplier      cab_type  fare
0      0  1543203646318         Lyft  ...              1.0  Lux Black XL  34.0
1      1  1543203646319         Uber  ...              1.0         Black  18.5
2      2  1543203646320         Uber  ...              1.0         UberX  19.5
3      3  1543203646320         Lyft  ...              1.0          Lyft  10.5
4      4  1543203646320         Uber  ...              1.0        UberXL  32.0

[5 rows x 9 columns]

In [ ]:
X_trainn=DataPipeLine(df)

In [ ]:
df.head()

   index     time_stamp  ...  cos_time                DateTime
0      0  1543203646318  ...  0.570814 2018-11-26 03:40:46.318
1      1  1543203646319  ...  0.570814 2018-11-26 03:40:46.319
2      2  1543203646320  ...  0.570814 2018-11-26 03:40:46.320
3      3  1543203646320  ...  0.570814 2018-11-26 03:40:46.320
4      4  1543203646320  ...  0.570814 2018-11-26 03:40:46.320

[5 rows x 14 columns]

In [ ]:
X_trainn["surge_multiplier"].max()

1.0

In [ ]:
X_trainn.head()

   provider_Lyft  provider_Uber  ...  sin_time  cos_time
0            1.0            0.0  ...   0.91054  0.785407
1            0.0            1.0  ...   0.91054  0.785407
2            0.0            1.0  ...   0.91054  0.785407
3            1.0            0.0  ...   0.91054  0.785407
4            0.0            1.0  ...   0.91054  0.785407

[5 rows x 42 columns]

In [ ]:
#df.DateTime
(df.time_stamp/1000) % (24*3600)

0        13246.318
1        13246.319
2        13246.320
3        13246.320
4        13246.320
           ...
99995      924.049
99996      924.049
99997      924.049
99998      924.049
99999      924.049
Name: time_stamp, Length: 99927, dtype: float64

In [ ]:
ytrain=df["fare"]

In [ ]:
X_trainn

       provider_Lyft  provider_Uber  ...  sin_time  cos_time
0                1.0            0.0  ...  0.910540  0.785407
1                0.0            1.0  ...  0.910540  0.785407
2                0.0            1.0  ...  0.910540  0.785407
3                1.0            0.0  ...  0.910540  0.785407
4                0.0            1.0  ...  0.910540  0.785407
...              ...            ...  ...       ...       ...
99995            0.0            1.0  ...  0.533574  0.998872
99996            0.0            1.0  ...  0.533574  0.998872
99997            0.0            1.0  ...  0.533574  0.998872
99998            0.0            1.0  ...  0.533574  0.998872
99999            0.0            1.0  ...  0.533574  0.998872

[99927 rows x 42 columns]

In [ ]:
!rm visual_view.py
!wget https://raw.githubusercontent.com/sipocz/messer/main/visual_view.py
grafikon=None
from visual_view import grafikon
help(grafikon)

--2021-05-17 16:01:55--  https://raw.githubusercontent.com/sipocz/messer/main/visual_view.py
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.108.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1027 (1.0K) [text/plain]
Saving to: ‘visual_view.py’

visual_view.py      100%[===================>]   1.00K  --.-KB/s    in 0s

2021-05-17 16:01:55 (42.2 MB/s) - ‘visual_view.py’ saved [1027/1027]

Help on function grafikon in module visual_view:

grafikon(fx, desc1, txt1, desc2='', txt2='', ngraf=2, c1='rgba(35,128,132,0.8)', c2='rgba(193,99,99,0.8)', title=None)
    fx: dataFrame
    desc1:column1
    txt1: label1
    desc2:column2
    txt2: label2
    ngraf: number of graph
    c1: color1
    c2: color2
    title: graph title

In [ ]:
df.head()

   index     time_stamp  ...  cos_time                DateTime
0      0  1543203646318  ...  0.570814 2018-11-26 03:40:46.318
1      1  1543203646319  ...  0.570814 2018-11-26 03:40:46.319
2      2  1543203646320  ...  0.570814 2018-11-26 03:40:46.320
3      3  1543203646320  ...  0.570814 2018-11-26 03:40:46.320
4      4  1543203646320  ...  0.570814 2018-11-26 03:40:46.320

[5 rows x 14 columns]

In [ ]:
df.index=df.DateTime

In [ ]:
df["price_per"]=df.fare/df.surge_multiplier/df.distance

In [ ]:
#grafikon(X_trainn,"price_per","price_per",ngraf=1)

KeyError: ignored

##szedjuk ki a 100-nál nagyobb sorokat

KeyError: ignored

In [ ]:
from keras.layers import InputLayer, Dense, LSTM, Input, Dropout,Embedding, Flatten
from keras.models import Sequential, Model
from keras.optimizers import SGD,Adam,Adamax,Nadam,Ftrl,Adadelta,Adagrad,Nadam
import tensorflow as tf
from tensorflow.keras.callbacks import ModelCheckpoint
from keras.backend import clear_session
from tensorflow.keras.losses import mean_absolute_percentage_error, huber,kld,mse

from keras.preprocessing.sequence import pad_sequences

In [ ]:
fname="_model_1_"

In [ ]:
'''
from sklearn.ensemble import IsolationForest
iso = IsolationForest(contamination=0.01)
yhat = iso.fit_predict(X_trainn)
'''

In [ ]:
clear_session()




input_len=len(X_trainn.columns)
print(input_len)
output_size=1
drop_frac0=0.0 
drop_frac1=0.3



input1=Input(shape=(input_len,),)


#flatt=Flatten()(lstm1)

non=42

d1=Dense(non,activation="swish")(input1)
drop0=Dropout(drop_frac0)(d1)

d2=Dense(non,activation="swish")(drop0)
drop1=Dropout(drop_frac1)(d2)

d3=Dense(non,activation="swish")(drop1)
drop2=Dropout(drop_frac1)(d3)

d4=Dense(non,activation="swish")(drop2)
drop3=Dropout(drop_frac1)(d4)

d5=Dense(non,activation="swish")(drop3)
drop4=Dropout(drop_frac1)(d5)

d6=Dense(non,activation="swish")(drop4)
drop5=Dropout(drop_frac1)(d6)

d7=Dense(non,activation="swish")(drop5)
drop6=Dropout(drop_frac1)(d7)

d8=Dense(non,activation="swish")(drop6)
drop7=Dropout(drop_frac1)(d8)

d9=Dense(non,activation="swish")(drop7)
drop8=Dropout(drop_frac1)(d9)

d10=Dense(non,activation="swish")(drop8)
drop9=Dropout(drop_frac1)(d10)

d11=Dense(non,activation="swish")(drop9)
drop10=Dropout(drop_frac1)(d11)

d12=Dense(non,activation="swish")(drop10)
drop11=Dropout(drop_frac1)(d12)

d13=Dense(non,activation="swish")(drop11)
drop12=Dropout(drop_frac1)(d13)



pred=Dense(output_size,activation="linear")(drop12)

model = Model(inputs=input1, outputs=pred)

opt = tf.keras.optimizers.Adam(learning_rate=0.00001)


rmse = tf.keras.metrics.RootMeanSquaredError()
model.compile(loss="mean_squared_error",
    optimizer=opt,
    metrics=[rmse])

42

In [ ]:
X_trainn

       provider_Lyft  provider_Uber  ...  sin_time  cos_time
0                1.0            0.0  ...  0.910540  0.785407
1                0.0            1.0  ...  0.910540  0.785407
2                0.0            1.0  ...  0.910540  0.785407
3                1.0            0.0  ...  0.910540  0.785407
4                0.0            1.0  ...  0.910540  0.785407
...              ...            ...  ...       ...       ...
99995            0.0            1.0  ...  0.533574  0.998872
99996            0.0            1.0  ...  0.533574  0.998872
99997            0.0            1.0  ...  0.533574  0.998872
99998            0.0            1.0  ...  0.533574  0.998872
99999            0.0            1.0  ...  0.533574  0.998872

[99927 rows x 42 columns]

In [ ]:
ytrain

0        34.0
1        18.5
2        19.5
3        10.5
4        32.0
         ...
99995    12.0
99996    26.0
99997    16.0
99998     7.0
99999     7.0
Name: fare, Length: 99927, dtype: float64

In [ ]:
!rm _model*

In [ ]:
def scheduler(epoch, lr):
    return 0.00000011

In [ ]:
callback_LR = tf.keras.callbacks.LearningRateScheduler(scheduler)

In [ ]:
callbacks = [callback_LR,
       
        ModelCheckpoint(filepath=fname+"_{val_root_mean_squared_error:.5f}__.hdf5", monitor='val_root_mean_squared_error',
                        verbose=2, save_best_only=True, mode='min')]

In [ ]:
history = model.fit( X_trainn,ytrain, 
                        epochs=555, 
                        batch_size=10,validation_split=0.3,
                        verbose=1,
                        callbacks=callbacks,
                              
                              )

Epoch 1/555
6995/6995 [==============================] - 25s 4ms/step - loss: 9.6790 - root_mean_squared_error: 3.1111 - val_loss: 4.3709 - val_root_mean_squared_error: 2.0907

Epoch 00001: val_root_mean_squared_error improved from inf to 2.09067, saving model to _model_1__2.09067__.hdf5
Epoch 2/555
6995/6995 [==============================] - 25s 4ms/step - loss: 9.7143 - root_mean_squared_error: 3.1168 - val_loss: 4.3619 - val_root_mean_squared_error: 2.0885

Epoch 00002: val_root_mean_squared_error improved from 2.09067 to 2.08852, saving model to _model_1__2.08852__.hdf5
Epoch 3/555
6995/6995 [==============================] - 23s 3ms/step - loss: 9.6151 - root_mean_squared_error: 3.1008 - val_loss: 4.3584 - val_root_mean_squared_error: 2.0877

Epoch 00003: val_root_mean_squared_error improved from 2.08852 to 2.08768, saving model to _model_1__2.08768__.hdf5
Epoch 4/555
6995/6995 [==============================] - 23s 3ms/step - loss: 9.7467 - root_mean_squared_error: 3.1220 - val_loss: 4.3530 - val_root_mean_squared_error: 2.0864

Epoch 00004: val_root_mean_squared_error improved from 2.08768 to 2.08639, saving model to _model_1__2.08639__.hdf5
Epoch 5/555
3351/6995 [=============>................] - ETA: 10s - loss: 9.6996 - root_mean_squared_error: 3.1144

In [ ]:
!rm _model*

In [ ]:
datag=pd.DataFrame()
y_pred=model.predict(Xtrain)

In [ ]:
datag["pred"]=list(y_pred.T[0])
datag["y"]=list(y_pred)
datag["delta"]=y_pred.T[0]-ytrain

In [ ]:
grafikon(datag,"pred","pred","delta","delta")

## betöltés

In [ ]:
!pip install xgboost

In [ ]:
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.datasets import make_regression
from sklearn.neural_network import MLPRegressor

#regr = GradientBoostingRegressor(n_estimators=100,max_depth=500, random_state=0)
#regr.fit(X_trainn, ytrain)

regr = MLPRegressor(random_state=1, max_iter=500,verbose=True,tol=1e-8)
regr.fit(X_trainn, ytrain)

In [ ]:
import xgboost as xgb
xgbr = xgb.XGBRegressor(n_estimators=300,   verbosity=2, max_depth=40) 
#print(xgbr)
xgbr.fit(X_trainn, ytrain,)

In [ ]:
score = xgbr.score(X_trainn, ytrain,)  
print("Training score: ", score)

In [ ]:
modelname="_model_1__1.64576__.hdf5"

In [ ]:
!wget https://github.com/sipocz/CabPrice/raw/main/_model_1__1.64576__.hdf5

In [ ]:
!wget https://github.com/sipocz/CabPrice/raw/B20210507/TEST.csv

In [ ]:


model=tf.keras.models.load_model(modelname)

In [ ]:
dft=pd.read_csv("TEST.csv")

In [ ]:
dft.head()

In [ ]:
dft.tail()

In [ ]:

X_test=DataPipeLine(dft)

In [ ]:
X_test.head()

In [ ]:
y_test=model.predict(X_test)

In [ ]:
y_regr=regr.predict(X_test)

In [ ]:
y_regr = xgbr.predict(X_test)*100

In [ ]:
y_regr

In [ ]:
y_regr

In [ ]:
odf=pd.DataFrame(y_regr)

In [ ]:
odf.head()

In [ ]:
!wget https://github.com/sipocz/CabPrice/raw/B20210507/sample_submission.csv

In [ ]:
!head sample_submission.csv

In [ ]:
def round_half(a):
    return(a)
    import math
    e=math.floor(a)
    m=a-e
    if m>0.75:
        return e+1
    if m<0.25:
        return e
    return e+0.5

In [ ]:
odf.columns=["fare2"]
odf.index.name="index"
odf["fare"]=odf["fare2"].apply(lambda x:round_half(x))

In [ ]:
del odf["fare2"] #drop(['algebra', 'chemistry'], axis=1)
odf.head()

In [ ]:
odf.to_csv("submission_13.csv")

In [ ]:
! head submission_13.csv